body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #74cbdd, #24d0d6);
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #74cbdd, #7852bb);
  box-shadow: 0px 10px 10px 10px rgba(34, 60, 80, 0.2);
  width: 400px;
  height: 600px;
}
.app form {
  position: relative;
  text-align: center;
}
.app form input {
  margin-top: 30px;
  background: lightgray;
  box-shadow: 0px 12px 35px rgba(210, 197, 192, 0.25);
  border-radius: 30px;
  border: none;
  outline: none;
  height: 40px;
  padding-left: 10px;
  font-family: 'Baloo Bhaijaan 2', sans-serif;
  font-size: 18px;
  width: 50%;
}
.app form input::placeholder {
  color: black;
}
.app form button {
  width: 61px;
  background: lightgray;
  box-shadow: 0px 12px 35px rgba(210, 197, 192, 0.25);
  border-radius: 30px;
  border: none;
  outline: none;
  height: 40px;
  text-transform: capitalize;
  font-family: 'Baloo Bhaijaan 2', sans-serif;
  font-size: 18px;
}
.app form button:hover {
  cursor: pointer;
}
.app form button:active {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}
.app .weather-conditions {
  display: flex;
  color: lightgray;
  margin: 30px 0;
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
  font-size: 25px;
  height: 80px;
}
.app .weather-conditions p {
  display: block;
  font-size: 25px;
}
.app .temperature {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: lightgray;
  font-weight: bold;
  height: 95px;
}
.app .temperature div:first-of-type {
  grid-row-start: 1;
  grid-row-end: 3;
  font-size: 105px;
  height: 100px;
  margin-left: 120px;
}
.app .temperature #temp {
  font-size: 40px;
  margin-top: 13px;
}
.app #city {
  margin: 30px 0;
  color: lightgray;
  font-size: 35px;
}
.app #weather-type {
  color: lightgray;
  font-size: 25px;
  text-align: center;
}
.app #img i {
  margin-top: 30px;
  text-align: center;
  color: lightgray;
}
